# Clean Median Income Data

### 1. Import Libraries and Dataset
### 2. Clean and Prepare Data
### 3. Transpose Data
### 4. Export Datasets

## Import Libraries and Dataset

Import Libraries

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

Import Data

In [2]:
# path shortcut
path = r'C:\Users\kacee\OneDrive\Desktop\Project6'

In [3]:
# Importing Income data
df_inc = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Median_Income_By_State.csv'), index_col = False)

Inspect Data Shape

In [4]:
df_inc.head()

,State,2022,2022.1,2021,2021.1,2020,2020.1,2019,2019.1,2018,...,1988,1988.1,1987,1987.1,1986,1986.1,1985,1985.1,1984,1984.1
0,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
1,Alabama,59910,1934,56930,2294,54690,2563,56200,2512,49940,...,19950,912,19730,1147,19130,885,18330,760,17310,605
2,Alaska,89740,4842,81130,3967,74750,3557,78390,6685,68730,...,33100,1183,33230,1497,31360,1017,34780,1089,32360,1473
3,Arizona,73450,4123,70820,3394,67090,3409,70670,3391,62280,...,26440,843,26750,892,25500,718,23880,744,21430,609
4,Arkansas,53980,2376,50780,1440,50780,1837,54540,2384,49780,...,20170,706,18830,1008,18730,765,17450,764,15670,748

In [5]:
df_inc.shape

(52, 83)

In [6]:
df_inc.columns

Index(['State', '2022', '2022.1', '2021', '2021.1', '2020', '2020.1', '2019',
       '2019.1', '2018', '2018.1', '2017', '2017.1', '2017.2', '2017.3',
       '2016', '2016.1', '2015', '2015.1', '2014', '2014.1', '2013', '2013.1',
       '2013.2', '2013.3', '2012', '2012.1', '2011', '2011.1', '2010',
       '2010.1', '2009', '2009.1', '2008', '2008.1', '2007', '2007.1', '2006',
       '2006.1', '2005', '2005.1', '2004', '2004.1', '2003', '2003.1', '2002',
       '2002.1', '2001', '2001.1', '2000', '2000.1', '1999', '1999.1', '1998',
       '1998.1', '1997', '1997.1', '1996', '1996.1', '1995', '1995.1', '1994',
       '1994.1', '1993', '1993.1', '1992', '1992.1', '1991', '1991.1', '1990',
       '1990.1', '1989', '1989.1', '1988', '1988.1', '1987', '1987.1', '1986',
       '1986.1', '1985', '1985.1', '1984', '1984.1'],
      dtype='object')

## Clean and Prepare Data

Drop Unnecessary Columns

In [7]:
# Drop unnecessary columns (All year columns ending in .1, They are adjustments that are not necessary to keep)(Also all years before 2008)
df_inco = df_inc.drop(columns =['2022.1', '2021.1', '2020.1', '2019.1', '2018.1', '2017.1', '2017.2', '2017.3', '2016.1', '2015.1', '2014.1', '2013.1', '2013.2', '2013.3', '2012.1', '2011.1', '2010.1', '2009.1', '2008.1', '2007', '2007.1', '2006', '2006.1', '2005', '2005.1', '2004', '2004.1', '2003', '2003.1', '2002', '2002.1', '2001', '2001.1', '2000', '2000.1', '1999', '1999.1', '1998', '1998.1', '1997', '1997.1', '1996', '1996.1', '1995', '1995.1', '1994', '1994.1', '1993', '1993.1', '1992', '1992.1', '1991', '1991.1', '1990', '1990.1', '1989', '1989.1', '1988', '1988.1', '1987', '1987.1', '1986', '1986.1', '1985', '1985.1', '1984', '1984.1'])

In [8]:
df_inco.columns

Index(['State', '2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009', '2008'],
      dtype='object')

In [9]:
df_inco.shape

(52, 16)

In [10]:
df_inco.head(20)

,State,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,NaN,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income
1,Alabama,59910,56930,54690,56200,49940,50870,47220,44510,42280,47320,43460,42590,40930,39980,44480
2,Alaska,89740,81130,74750,78390,68730,77990,75720,75110,67630,72470,63650,57430,57850,61600,63990
3,Arizona,73450,70820,67090,70670,62280,59700,57100,52250,49250,52610,47040,48620,46900,45740,46910
4,Arkansas,53980,50780,50780,54540,49780,49750,45910,42800,44920,39380,39020,41300,38590,36540,39590
5,California,85300,81580,77650,78110,70490,70040,66640,63640,60490,60790,57020,53370,54280,56130,57010
6,Colorado,89930,84950,83780,72500,73030,74980,70570,66600,60940,67910,57260,58630,60230,55930,60940
7,Connecticut,90730,80960,79430,87290,72810,74300,75920,72890,70160,69290,64250,65420,66000,64850,64680
8,Delaware,80750,68690,70020,74190,65010,64960,58050,57760,57520,54090,48970,54660,55210,52110,50700
9,District of Columbia,101700,90640,88220,93110,85750,81280,70980,70070,68280,60060,65250,55250,56930,53140,55590
10,Florida,65370,59730,57760,58370,54640,53090,51180,48830,46140,48530,46070,45110,44070,45630,44860
11,Georgia,67730,61500,59270,56630,55820,57990,53530,50770,49560,46990,48120,45970,44120,43340,46230
12,Hawaii,91010,82200,80830,88010,80110,73600,72130,64510,71220,64240,56260,59050,59540,55650,61520
13,Idaho,72580,76920,66730,65990,58730,59500,56560,51620,53440,48470,47920,47460,47050,46780,47420
14,Illinois,78020,79250,74330,74400,70150,65970,61390,60410,54920,53940,51740,50640,50730,52870,53250
15,Indiana,70030,70190,66810,66690,59890,58770,56090,51980,48060,49460,46160,44450,46140,44310,46520
16,Iowa,76320,72430,68820,66050,68720,63470,59090,60860,57810,60160,53440,50220,49020,50720,50140
17,Kansas,73040,75980,73080,73150,63940,56900,56810,54870,53440,47820,50000,46150,46050,44720,47880
18,Kentucky,55880,55630,56760,55660,54560,49670,45370,42390,42790,44880,41090,39860,41100,42660,41150
19,Louisiana,58330,57210,51190,51710,49970,43570,42200,45920,42410,46430,39090,40660,39300,45430,39560

In [11]:
# Drop Median Income Row
df_incom = df_inco.drop([0])

In [12]:
df_incom.head()

,State,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
1,Alabama,59910,56930,54690,56200,49940,50870,47220,44510,42280,47320,43460,42590,40930,39980,44480
2,Alaska,89740,81130,74750,78390,68730,77990,75720,75110,67630,72470,63650,57430,57850,61600,63990
3,Arizona,73450,70820,67090,70670,62280,59700,57100,52250,49250,52610,47040,48620,46900,45740,46910
4,Arkansas,53980,50780,50780,54540,49780,49750,45910,42800,44920,39380,39020,41300,38590,36540,39590
5,California,85300,81580,77650,78110,70490,70040,66640,63640,60490,60790,57020,53370,54280,56130,57010

In [13]:
df_incom.shape

(51, 16)

Look for Mixed Data Types

In [14]:
# Mixed data in df_incom
for col in df_incom.columns.tolist():
  weird = (df_incom[[col]].applymap(type) != df_incom[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_incom[weird]) > 0:
    print (col)

In [15]:
# Check data types of df_incom
df_incom.dtypes

State    object
2022     object
2021     object
2020     object
2019     object
2018     object
2017     object
2016     object
2015     object
2014     object
2013     object
2012     object
2011     object
2010     object
2009     object
2008     object
dtype: object

Change Data Types

In [16]:
# Make Year columns int
df_incom['2022'] = df_incom['2022'].astype(str).astype(float)
df_incom['2021'] = df_incom['2021'].astype(str).astype(float)
df_incom['2020'] = df_incom['2020'].astype(str).astype(float)
df_incom['2019'] = df_incom['2019'].astype(str).astype(float)
df_incom['2018'] = df_incom['2018'].astype(str).astype(float)
df_incom['2017'] = df_incom['2017'].astype(str).astype(float)
df_incom['2016'] = df_incom['2016'].astype(str).astype(float)
df_incom['2015'] = df_incom['2015'].astype(str).astype(float)
df_incom['2014'] = df_incom['2014'].astype(str).astype(float)
df_incom['2013'] = df_incom['2013'].astype(str).astype(float)
df_incom['2012'] = df_incom['2012'].astype(str).astype(float)
df_incom['2011'] = df_incom['2011'].astype(str).astype(float)
df_incom['2010'] = df_incom['2010'].astype(str).astype(float)
df_incom['2009'] = df_incom['2009'].astype(str).astype(float)
df_incom['2008'] = df_incom['2008'].astype(str).astype(float)

In [17]:
# Check data types of df_incom
df_incom.dtypes

State     object
2022     float64
2021     float64
2020     float64
2019     float64
2018     float64
2017     float64
2016     float64
2015     float64
2014     float64
2013     float64
2012     float64
2011     float64
2010     float64
2009     float64
2008     float64
dtype: object

Look for Missing Values

In [18]:
# List of missing values in df_incom
df_incom.isnull().sum()

State    0
2022     0
2021     0
2020     0
2019     0
2018     0
2017     0
2016     0
2015     0
2014     0
2013     0
2012     0
2011     0
2010     0
2009     0
2008     0
dtype: int64

Overview of Data

In [19]:
df_incom.describe()

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,75458.039216,71538.431373,68660.392157,69720.588235,64411.176471,61518.039216,59179.607843,57012.352941,55224.117647,54316.078431,52008.039216,50687.254902,50018.235294,49857.647059,50777.058824
std,13087.457204,11825.417941,11823.964980,11714.799599,10364.177275,9676.339601,9062.634928,9203.699167,9208.468532,9295.045794,8345.739277,7475.490105,7493.612135,7495.721603,7818.880814
min,48610.000000,46640.000000,45130.000000,44790.000000,42780.000000,43280.000000,41100.000000,40040.000000,35520.000000,32340.000000,36640.000000,39860.000000,38160.000000,35080.000000,36450.000000
25%,67350.000000,62790.000000,60360.000000,60880.000000,57560.000000,55860.000000,53875.000000,50785.000000,48655.000000,47155.000000,46115.000000,45160.000000,44625.000000,45075.000000,46075.000000
50%,73330.000000,71140.000000,67410.000000,70030.000000,62540.000000,60090.000000,58050.000000,56470.000000,54920.000000,53410.000000,50020.000000,49690.000000,49020.000000,49100.000000,50460.000000
75%,85235.000000,80700.000000,78200.000000,76260.000000,70320.000000,69885.000000,66545.000000,62565.000000,60720.000000,61790.000000,57140.000000,55555.000000,55570.000000,54395.000000,55260.000000
max,108200.000000,97330.000000,94790.000000,95570.000000,86350.000000,82090.000000,76260.000000,75680.000000,76170.000000,72470.000000,71840.000000,68880.000000,66630.000000,64850.000000,66180.000000

In [20]:
df_incom.shape

(51, 16)

In [21]:
# Change States to abbreviation to prepare for merge
df_incom['State'] = df_inc['State'].replace({'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 
                                          'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 
                                          'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 
                                          'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 
                                          'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 
                                          'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 
                                          'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 
                                           'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 
                                          'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Washington': 'WA', 'West Virginia': 'WV', 
                                          'Wisconsin': 'WI', 'Wyoming': 'WY', 'Virginia': 'VA'})

In [22]:
df_incom

,State,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
1,AL,59910.0,56930.0,54690.0,56200.0,49940.0,50870.0,47220.0,44510.0,42280.0,47320.0,43460.0,42590.0,40930.0,39980.0,44480.0
2,AK,89740.0,81130.0,74750.0,78390.0,68730.0,77990.0,75720.0,75110.0,67630.0,72470.0,63650.0,57430.0,57850.0,61600.0,63990.0
3,AZ,73450.0,70820.0,67090.0,70670.0,62280.0,59700.0,57100.0,52250.0,49250.0,52610.0,47040.0,48620.0,46900.0,45740.0,46910.0
4,AR,53980.0,50780.0,50780.0,54540.0,49780.0,49750.0,45910.0,42800.0,44920.0,39380.0,39020.0,41300.0,38590.0,36540.0,39590.0
5,CA,85300.0,81580.0,77650.0,78110.0,70490.0,70040.0,66640.0,63640.0,60490.0,60790.0,57020.0,53370.0,54280.0,56130.0,57010.0
6,CO,89930.0,84950.0,83780.0,72500.0,73030.0,74980.0,70570.0,66600.0,60940.0,67910.0,57260.0,58630.0,60230.0,55930.0,60940.0
7,CT,90730.0,80960.0,79430.0,87290.0,72810.0,74300.0,75920.0,72890.0,70160.0,69290.0,64250.0,65420.0,66000.0,64850.0,64680.0
8,DE,80750.0,68690.0,70020.0,74190.0,65010.0,64960.0,58050.0,57760.0,57520.0,54090.0,48970.0,54660.0,55210.0,52110.0,50700.0
9,District of Columbia,101700.0,90640.0,88220.0,93110.0,85750.0,81280.0,70980.0,70070.0,68280.0,60060.0,65250.0,55250.0,56930.0,53140.0,55590.0
10,FL,65370.0,59730.0,57760.0,58370.0,54640.0,53090.0,51180.0,48830.0,46140.0,48530.0,46070.0,45110.0,44070.0,45630.0,44860.0
11,GA,67730.0,61500.0,59270.0,56630.0,55820.0,57990.0,53530.0,50770.0,49560.0,46990.0,48120.0,45970.0,44120.0,43340.0,46230.0
12,HI,91010.0,82200.0,80830.0,88010.0,80110.0,73600.0,72130.0,64510.0,71220.0,64240.0,56260.0,59050.0,59540.0,55650.0,61520.0
13,ID,72580.0,76920.0,66730.0,65990.0,58730.0,59500.0,56560.0,51620.0,53440.0,48470.0,47920.0,47460.0,47050.0,46780.0,47420.0
14,IL,78020.0,79250.0,74330.0,74400.0,70150.0,65970.0,61390.0,60410.0,54920.0,53940.0,51740.0,50640.0,50730.0,52870.0,53250.0
15,IN,70030.0,70190.0,66810.0,66690.0,59890.0,58770.0,56090.0,51980.0,48060.0,49460.0,46160.0,44450.0,46140.0,44310.0,46520.0
16,IA,76320.0,72430.0,68820.0,66050.0,68720.0,63470.0,59090.0,60860.0,57810.0,60160.0,53440.0,50220.0,49020.0,50720.0,50140.0
17,KS,73040.0,75980.0,73080.0,73150.0,63940.0,56900.0,56810.0,54870.0,53440.0,47820.0,50000.0,46150.0,46050.0,44720.0,47880.0
18,KY,55880.0,55630.0,56760.0,55660.0,54560.0,49670.0,45370.0,42390.0,42790.0,44880.0,41090.0,39860.0,41100.0,42660.0,41150.0
19,LA,58330.0,57210.0,51190.0,51710.0,49970.0,43570.0,42200.0,45920.0,42410.0,46430.0,39090.0,40660.0,39300.0,45430.0,39560.0
20,ME,75160.0,71140.0,63690.0,66550.0,58660.0,53320.0,50860.0,50760.0,51710.0,54960.0,49160.0,49690.0,47930.0,47500.0,47230.0
21,MD,108200.0,97330.0,94790.0,95570.0,86220.0,82090.0,73760.0,73590.0,76170.0,69350.0,71840.0,68880.0,64200.0,64190.0,63710.0
22,MA,93550.0,86570.0,87810.0,87710.0,86350.0,76240.0,72270.0,67860.0,63150.0,62530.0,63660.0,63310.0,60930.0,59370.0,60320.0
23,MI,68990.0,64490.0,64390.0,64120.0,60450.0,56410.0,57090.0,54200.0,52010.0,56570.0,50020.0,48880.0,46280.0,45990.0,49790.0
24,MN,90390.0,80440.0,78750.0,81430.0,71820.0,69980.0,70220.0,68730.0,67240.0,64320.0,61800.0,57820.0,52320.0,56090.0,54930.0
25,MS,48610.0,46640.0,45130.0,44790.0,42780.0,43280.0,41100.0,40040.0,35520.0,32340.0,36640.0,41090.0,38160.0,35080.0,36450.0
26,MO,71520.0,63590.0,62180.0,60600.0,61730.0,56530.0,55020.0,59200.0,56630.0,46300.0,49760.0,45770.0,45820.0,48770.0,46040.0
27,MT,72980.0,65000.0,56740.0,60200.0,57680.0,57410.0,57080.0,51400.0,51100.0,43200.0,45090.0,40280.0,41280.0,40440.0,42900.0
28,NE,78360.0,78110.0,72250.0,73070.0,67580.0,59580.0,59370.0,60470.0,56870.0,57620.0,52200.0,55620.0,52500.0,49600.0,50730.0
29,NV,72330.0,64340.0,61160.0,70910.0,61860.0,58040.0,55430.0,52010.0,49880.0,51850.0,47330.0,47040.0,51200.0,51430.0,54740.0
30,NH,84970.0,88840.0,88890.0,86900.0,81350.0,75630.0,76260.0,75680.0,73400.0,69100.0,67820.0,65880.0,66630.0,64130.0,66180.0
31,NJ,92340.0,88560.0,85550.0,87730.0,74180.0,71240.0,68470.0,68360.0,65240.0,63750.0,66690.0,62340.0,62970.0,64780.0,65310.0
32,NM,56420.0,53460.0,50910.0,53110.0,48280.0,45600.0,48450.0,45120.0,46690.0,40170.0,43420.0,41980.0,45130.0,43540.0,42100.0
33,NY,75910.0,72920.0,68660.0,71860.0,67270.0,61540.0,61440.0,58010.0,54310.0,49970.0,47680.0,50640.0,49780.0,50220.0,50460.0
34,NC,65070.0,62890.0,60430.0,61160.0,53370.0,49550.0,53760.0,50800.0,46780.0,46340.0,41550.0,45210.0,43830.0,41910.0,42930.0
35,ND,78720.0,68880.0,64120.0,70030.0,66510.0,60170.0,60180.0,57420.0,60730.0,59150.0,55770.0,56360.0,51010.0,50080.0,49630.0
36,OH,67520.0,62690.0,60380.0,64660.0,61630.0,60690.0,53990.0,53300.0,49640.0,50750.0,44380.0,44650.0,45890.0,45880.0,46930.0
37,OK,63440.0,60100.0,52470.0,59400.0,54430.0,51880.0,50940.0,47080.0,47200.0,46160.0,48410.0,48460.0,43100.0,45880.0,46110.0
38,OR,86780.0,81860.0,76860.0,74410.0,69170.0,62500.0,59140.0,60830.0,58880.0,49000.0,51780.0,51530.0,50600.0,49100.0,51730.0
39,PA,72210.0,72630.0,70790.0,70580.0,64520.0,61290.0,60980.0,60390.0,55170.0,55160.0,51900.0,49910.0,48310.0,48170.0,51400.0
40,RI,80650.0,74980.0,80180.0,70150.0,62270.0,65400.0,61530.0,55700.0,58630.0,56320.0,56070.0,49030.0,51620.0,51630.0,53240.0
41,SC,61770.0,62540.0,60340.0,62030.0,57440.0,54540.0,54340.0,46360.0,44930.0,43560.0,44400.0,40080.0,41700.0,41100.0,42160.0
42,SD,67180.0,73890.0,70190.0,64260.0,59460.0,56910.0,57450.0,55070.0,53050.0,53410.0,49420.0,47220.0,45350.0,45830.0,51600.0
43,TN,65380.0,62170.0,54980.0,56630.0,56060.0,55310.0,51340.0,47330.0,43720.0,43360.0,43000.0,42280.0,38590.0,40520.0,39700.0
44,TX,74640.0,67400.0,68400.0,67440.0,59790.0,60090.0,58150.0,56470.0,53880.0,51410.0,51930.0,49050.0,47270.0,47480.0,46490.0
45,UT,95800.0,87650.0,83990.0,84520.0,77070.0,69790.0,67480.0,66260.0,63380.0,61050.0,58340.0,55490.0,56700.0,58490.0,62540.0
46,VT,72190.0,76080.0,67260.0,74310.0,70070.0,63680.0,60840.0,59490.0,60710.0,65510.0,55580.0,51860.0,55930.0,52320.0,50710.0
47,VA,85170.0,80270.0,82210.0,81310.0,77150.0,70810.0,66450.0,61490.0,66160.0,65910.0,64630.0,62620.0,60370.0,60500.0,61990.0
48,WA,89430.0,87650.0,81360.0,82450.0,79730.0,71540.0,70310.0,67240.0,59070.0,63920.0,62190.0,56850.0,56160.0,60390.0,56630.0
49,WV,52460.0,46840.0,51970.0,53710.0,50570.0,46960.0,44350.0,42820.0,39550.0,43070.0,43550.0,41820.0,42780.0,40490.0,37990.0
50,WI,73330.0,69940.0,67410.0,67360.0,62630.0,63480.0,59820.0,55430.0,58080.0,51730.0,53080.0,52060.0,50350.0,51240.0,51200.0
51,WY,73090.0,71050.0,65450.0,65130.0,62540.0,59540.0,57830.0,60930.0,55690.0,67440.0,57510.0,54510.0,52200.0,52470.0,53340.0

In [23]:
# Drop DC- Other data set does not contain this value
df_clean = df_incom[df_incom['State'] != 'District of Columbia']

In [24]:
# Drop VT- Other data set does not contain this value
df_clean_2 = df_clean[df_clean['State'] != 'VT']

In [25]:
# Drop VT- Other data set does not contain this value
df_clean_2 = df_clean_2[df_clean_2['State'] != 'AK']

In [26]:
df_clean_2

,State,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
1,AL,59910.0,56930.0,54690.0,56200.0,49940.0,50870.0,47220.0,44510.0,42280.0,47320.0,43460.0,42590.0,40930.0,39980.0,44480.0
3,AZ,73450.0,70820.0,67090.0,70670.0,62280.0,59700.0,57100.0,52250.0,49250.0,52610.0,47040.0,48620.0,46900.0,45740.0,46910.0
4,AR,53980.0,50780.0,50780.0,54540.0,49780.0,49750.0,45910.0,42800.0,44920.0,39380.0,39020.0,41300.0,38590.0,36540.0,39590.0
5,CA,85300.0,81580.0,77650.0,78110.0,70490.0,70040.0,66640.0,63640.0,60490.0,60790.0,57020.0,53370.0,54280.0,56130.0,57010.0
6,CO,89930.0,84950.0,83780.0,72500.0,73030.0,74980.0,70570.0,66600.0,60940.0,67910.0,57260.0,58630.0,60230.0,55930.0,60940.0
7,CT,90730.0,80960.0,79430.0,87290.0,72810.0,74300.0,75920.0,72890.0,70160.0,69290.0,64250.0,65420.0,66000.0,64850.0,64680.0
8,DE,80750.0,68690.0,70020.0,74190.0,65010.0,64960.0,58050.0,57760.0,57520.0,54090.0,48970.0,54660.0,55210.0,52110.0,50700.0
10,FL,65370.0,59730.0,57760.0,58370.0,54640.0,53090.0,51180.0,48830.0,46140.0,48530.0,46070.0,45110.0,44070.0,45630.0,44860.0
11,GA,67730.0,61500.0,59270.0,56630.0,55820.0,57990.0,53530.0,50770.0,49560.0,46990.0,48120.0,45970.0,44120.0,43340.0,46230.0
12,HI,91010.0,82200.0,80830.0,88010.0,80110.0,73600.0,72130.0,64510.0,71220.0,64240.0,56260.0,59050.0,59540.0,55650.0,61520.0
13,ID,72580.0,76920.0,66730.0,65990.0,58730.0,59500.0,56560.0,51620.0,53440.0,48470.0,47920.0,47460.0,47050.0,46780.0,47420.0
14,IL,78020.0,79250.0,74330.0,74400.0,70150.0,65970.0,61390.0,60410.0,54920.0,53940.0,51740.0,50640.0,50730.0,52870.0,53250.0
15,IN,70030.0,70190.0,66810.0,66690.0,59890.0,58770.0,56090.0,51980.0,48060.0,49460.0,46160.0,44450.0,46140.0,44310.0,46520.0
16,IA,76320.0,72430.0,68820.0,66050.0,68720.0,63470.0,59090.0,60860.0,57810.0,60160.0,53440.0,50220.0,49020.0,50720.0,50140.0
17,KS,73040.0,75980.0,73080.0,73150.0,63940.0,56900.0,56810.0,54870.0,53440.0,47820.0,50000.0,46150.0,46050.0,44720.0,47880.0
18,KY,55880.0,55630.0,56760.0,55660.0,54560.0,49670.0,45370.0,42390.0,42790.0,44880.0,41090.0,39860.0,41100.0,42660.0,41150.0
19,LA,58330.0,57210.0,51190.0,51710.0,49970.0,43570.0,42200.0,45920.0,42410.0,46430.0,39090.0,40660.0,39300.0,45430.0,39560.0
20,ME,75160.0,71140.0,63690.0,66550.0,58660.0,53320.0,50860.0,50760.0,51710.0,54960.0,49160.0,49690.0,47930.0,47500.0,47230.0
21,MD,108200.0,97330.0,94790.0,95570.0,86220.0,82090.0,73760.0,73590.0,76170.0,69350.0,71840.0,68880.0,64200.0,64190.0,63710.0
22,MA,93550.0,86570.0,87810.0,87710.0,86350.0,76240.0,72270.0,67860.0,63150.0,62530.0,63660.0,63310.0,60930.0,59370.0,60320.0
23,MI,68990.0,64490.0,64390.0,64120.0,60450.0,56410.0,57090.0,54200.0,52010.0,56570.0,50020.0,48880.0,46280.0,45990.0,49790.0
24,MN,90390.0,80440.0,78750.0,81430.0,71820.0,69980.0,70220.0,68730.0,67240.0,64320.0,61800.0,57820.0,52320.0,56090.0,54930.0
25,MS,48610.0,46640.0,45130.0,44790.0,42780.0,43280.0,41100.0,40040.0,35520.0,32340.0,36640.0,41090.0,38160.0,35080.0,36450.0
26,MO,71520.0,63590.0,62180.0,60600.0,61730.0,56530.0,55020.0,59200.0,56630.0,46300.0,49760.0,45770.0,45820.0,48770.0,46040.0
27,MT,72980.0,65000.0,56740.0,60200.0,57680.0,57410.0,57080.0,51400.0,51100.0,43200.0,45090.0,40280.0,41280.0,40440.0,42900.0
28,NE,78360.0,78110.0,72250.0,73070.0,67580.0,59580.0,59370.0,60470.0,56870.0,57620.0,52200.0,55620.0,52500.0,49600.0,50730.0
29,NV,72330.0,64340.0,61160.0,70910.0,61860.0,58040.0,55430.0,52010.0,49880.0,51850.0,47330.0,47040.0,51200.0,51430.0,54740.0
30,NH,84970.0,88840.0,88890.0,86900.0,81350.0,75630.0,76260.0,75680.0,73400.0,69100.0,67820.0,65880.0,66630.0,64130.0,66180.0
31,NJ,92340.0,88560.0,85550.0,87730.0,74180.0,71240.0,68470.0,68360.0,65240.0,63750.0,66690.0,62340.0,62970.0,64780.0,65310.0
32,NM,56420.0,53460.0,50910.0,53110.0,48280.0,45600.0,48450.0,45120.0,46690.0,40170.0,43420.0,41980.0,45130.0,43540.0,42100.0
33,NY,75910.0,72920.0,68660.0,71860.0,67270.0,61540.0,61440.0,58010.0,54310.0,49970.0,47680.0,50640.0,49780.0,50220.0,50460.0
34,NC,65070.0,62890.0,60430.0,61160.0,53370.0,49550.0,53760.0,50800.0,46780.0,46340.0,41550.0,45210.0,43830.0,41910.0,42930.0
35,ND,78720.0,68880.0,64120.0,70030.0,66510.0,60170.0,60180.0,57420.0,60730.0,59150.0,55770.0,56360.0,51010.0,50080.0,49630.0
36,OH,67520.0,62690.0,60380.0,64660.0,61630.0,60690.0,53990.0,53300.0,49640.0,50750.0,44380.0,44650.0,45890.0,45880.0,46930.0
37,OK,63440.0,60100.0,52470.0,59400.0,54430.0,51880.0,50940.0,47080.0,47200.0,46160.0,48410.0,48460.0,43100.0,45880.0,46110.0
38,OR,86780.0,81860.0,76860.0,74410.0,69170.0,62500.0,59140.0,60830.0,58880.0,49000.0,51780.0,51530.0,50600.0,49100.0,51730.0
39,PA,72210.0,72630.0,70790.0,70580.0,64520.0,61290.0,60980.0,60390.0,55170.0,55160.0,51900.0,49910.0,48310.0,48170.0,51400.0
40,RI,80650.0,74980.0,80180.0,70150.0,62270.0,65400.0,61530.0,55700.0,58630.0,56320.0,56070.0,49030.0,51620.0,51630.0,53240.0
41,SC,61770.0,62540.0,60340.0,62030.0,57440.0,54540.0,54340.0,46360.0,44930.0,43560.0,44400.0,40080.0,41700.0,41100.0,42160.0
42,SD,67180.0,73890.0,70190.0,64260.0,59460.0,56910.0,57450.0,55070.0,53050.0,53410.0,49420.0,47220.0,45350.0,45830.0,51600.0
43,TN,65380.0,62170.0,54980.0,56630.0,56060.0,55310.0,51340.0,47330.0,43720.0,43360.0,43000.0,42280.0,38590.0,40520.0,39700.0
44,TX,74640.0,67400.0,68400.0,67440.0,59790.0,60090.0,58150.0,56470.0,53880.0,51410.0,51930.0,49050.0,47270.0,47480.0,46490.0
45,UT,95800.0,87650.0,83990.0,84520.0,77070.0,69790.0,67480.0,66260.0,63380.0,61050.0,58340.0,55490.0,56700.0,58490.0,62540.0
47,VA,85170.0,80270.0,82210.0,81310.0,77150.0,70810.0,66450.0,61490.0,66160.0,65910.0,64630.0,62620.0,60370.0,60500.0,61990.0
48,WA,89430.0,87650.0,81360.0,82450.0,79730.0,71540.0,70310.0,67240.0,59070.0,63920.0,62190.0,56850.0,56160.0,60390.0,56630.0
49,WV,52460.0,46840.0,51970.0,53710.0,50570.0,46960.0,44350.0,42820.0,39550.0,43070.0,43550.0,41820.0,42780.0,40490.0,37990.0
50,WI,73330.0,69940.0,67410.0,67360.0,62630.0,63480.0,59820.0,55430.0,58080.0,51730.0,53080.0,52060.0,50350.0,51240.0,51200.0
51,WY,73090.0,71050.0,65450.0,65130.0,62540.0,59540.0,57830.0,60930.0,55690.0,67440.0,57510.0,54510.0,52200.0,52470.0,53340.0

In [27]:
df_clean_2.shape

(48, 16)

## Transpose Data

In [28]:
# Transposed Data to have 3 columns: State, Year, Income
df_transposed =df_clean_2.melt(id_vars=['State'], var_name='Year', value_name='Income')

In [29]:
df_transposed

    State  Year   Income
0      AL  2022  59910.0
1      AZ  2022  73450.0
2      AR  2022  53980.0
3      CA  2022  85300.0
4      CO  2022  89930.0
..    ...   ...      ...
715    VA  2008  61990.0
716    WA  2008  56630.0
717    WV  2008  37990.0
718    WI  2008  51200.0
719    WY  2008  53340.0

[720 rows x 3 columns]

In [30]:
# Make a new order for the COlumns
new_order = ['Year', 'State', 'Income']

In [31]:
# Reorder the columns
df_transposed = df_transposed[new_order]
df_transposed

     Year State   Income
0    2022    AL  59910.0
1    2022    AZ  73450.0
2    2022    AR  53980.0
3    2022    CA  85300.0
4    2022    CO  89930.0
..    ...   ...      ...
715  2008    VA  61990.0
716  2008    WA  56630.0
717  2008    WV  37990.0
718  2008    WI  51200.0
719  2008    WY  53340.0

[720 rows x 3 columns]

In [33]:
df_transposed = df_transposed.sort_values(by=['Year', 'State'])
df_transposed

     Year State   Income
672  2008    AL  44480.0
674  2008    AR  39590.0
673  2008    AZ  46910.0
675  2008    CA  57010.0
676  2008    CO  60940.0
..    ...   ...      ...
43   2022    VA  85170.0
44   2022    WA  89430.0
46   2022    WI  73330.0
45   2022    WV  52460.0
47   2022    WY  73090.0

[720 rows x 3 columns]

In [34]:
df_transposed = df_transposed.reset_index(drop=True)
df_transposed

     Year State   Income
0    2008    AL  44480.0
1    2008    AR  39590.0
2    2008    AZ  46910.0
3    2008    CA  57010.0
4    2008    CO  60940.0
..    ...   ...      ...
715  2022    VA  85170.0
716  2022    WA  89430.0
717  2022    WI  73330.0
718  2022    WV  52460.0
719  2022    WY  73090.0

[720 rows x 3 columns]

## Export Data

In [35]:
# Rename and Export df_incom
df_transposed.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Income_Cleaned.csv'))